.navigation__item
  color baseColor
  padding 10px
  font-size 30px
  font-family titleFont
  &:active
    color baseColor
  &:focus
    color baseColor
  &:hover
    color baseColor
  @media only screen and (max-width: sm)
    font-size 24px
    padding 5px
  @media only screen and (max-width: sm)
    font-size 20px