.navigation__column
  display flex
  flex-direction column
  margin-right 100px
  @media only screen and (max-width: md)
    margin-right 50px
    width 50%
  @media only screen and (max-width: sm)
    width 100%
  @media only screen and (max-width: sm)
    margin-right 15px