extends ../layouts/default.pug

block site__content
  include ../sections/about.pug
  include ../sections/stages.pug
  include ../sections/venue.pug
  include ../sections/purpose.pug
  include ../sections/nominations.pug
  include ../sections/specialnominations.pug
  include ../sections/partnership.pug 
  include ../sections/winners.pug
  include ../sections/specialwinners.pug
  include ../sections/jury.pug
  include ../sections/partners.pug
  include ../sections/contacts.pug
  include ../sections/organizer.pug