.organizer__content
  margin-top 32vw
  display flex
  width 76vw
  height 23vw
  align-items center
  @media only screen and (max-width: lg)
    line-height 1
  @media only screen and (max-width: sm)
    margin-top 200px
    width 100vw
    height auto
    flex-wrap wrap