.organizer__title-name
  position absolute
  top 150px
  left 560px
  line-height 1
  font-size 50px!important
  font-family addFont!important
  @media only screen and (max-width: lg)
    top -30px
  @media only screen and (max-width: md)
    left 300px
    top 10px
  @media only screen and (max-width: sm)
    top 20px
    left 30px
  @media only screen and (max-width: xs)
    font-size 40px!important
    top 30px