.organizer__title-events 
  font-family titleFont
  font-size 30px
  width 37vw
  text-align right
  padding-right 100px
  @media only screen and (max-width: lg)
    padding-right 50px
  @media only screen and (max-width: md)
    font-size 26px
    margin-top -10px
    padding-right 0
  @media only screen and (max-width: sm)
    width 100%
    margin-top 0
    text-align center