.organizer__title
  position absolute
  top 170px
  left 160px
  line-height 1
  font-size 38px!important
  @media only screen and (max-width: lg)
    top 0
  @media only screen and (max-width: md)
    left 30px
    top 40px
    font-size 30px!important
  @media only screen and (max-width: sm)
    top -30px