.organizer__events-box
  display flex
  width 39vw
  justify-content space-around
  @media only screen and (max-width: md)
    flex-direction column
  @media only screen and (max-width: sm)
    width 100%