.partnership__title-background
  position absolute
  top 120px
  left 100px
  overflow hidden
  line-height 1
  font-size 250px!important
  @media only screen and (max-width: lg)
    top 30px
  @media only screen and (max-width: md)
    top 20px
    left 35px
  @media only screen and (max-width: sm)
    left 30px
    top 170px
    font-size 80px!important
  @media only screen and (max-width: xs)
    font-size 50px!important
    left 10px