.partnership__button
  background #3071D1
  border-radius 100px
  padding 20px 0
  text-align center
  width 300px
  cursor pointer
  margin 75px 0 0
  font-family titleFont
  @media only screen and (max-width: md)
    margin 50px 0 0
  @media only screen and (max-width: sm)
    margin 120px 0 0
  @media only screen and (max-width: xs)
    margin 100px 0 0