@font-face
  font-family Cera Pro
  src url('../fonts/cerapro-light.eot')
  src url('../fonts/cerapro-light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/cerapro-light.woff2') format('woff2'),
      url('../fonts/cerapro-light.woff') format('woff'),
      url('../fonts/cerapro-light.ttf') format('truetype')
  font-style normal
  font-weight normal
  font-display fallback
@font-face
  font-family Cera Pro Italic
  src url('../fonts/cerapro-lightitalic.eot')
  src url('../fonts/cerapro-lightitalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/cerapro-lightitalic.woff2') format('woff2'),
      url('../fonts/cerapro-lightitalic.woff') format('woff'),
      url('../fonts/cerapro-lightitalic.ttf') format('truetype')
  font-style normal
  font-weight normal
  font-display fallback
  
@font-face
  font-family Cera Pro Rregular
  src url('../fonts/cerapro-regular.eot')
  src url('../fonts/cerapro-regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/cerapro-regular.woff2') format('woff2'),
      url('../fonts/cerapro-regular.woff') format('woff'),
      url('../fonts/cerapro-regular.ttf') format('truetype')
  font-style normal
  font-weight normal
  font-display fallback 
  
@font-face
  font-family Cera Pro Medium
  src url('../fonts/cerapro-medium.eot')
  src url('../fonts/cerapro-medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/cerapro-medium.woff2') format('woff2'),
      url('../fonts/cerapro-medium.woff') format('woff'),
      url('../fonts/cerapro-medium.ttf') format('truetype')
  font-style normal
  font-weight normal
  font-display fallback
@font-face
  font-family Cera Pro Medium Italic
  src url('../fonts/cerapro-mediumitalic.eot')
  src url('../fonts/cerapro-mediumitalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/cerapro-mediumitalic.woff2') format('woff2'),
      url('../fonts/cerapro-mediumitalic.woff') format('woff'),
      url('../fonts/cerapro-mediumitalic.ttf') format('truetype')
  font-style normal
  font-weight normal
  font-display fallback
  
    
@font-face
  font-family Montserrat
  src url('../fonts/montserrat-black.eot')
  src url('../fonts/montserrat-black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/montserrat-black.woff2') format('woff2'),
      url('../fonts/montserrat-black.woff') format('woff'),
      url('../fonts/montserrat-black.ttf') format('truetype')
  font-style normal
  font-weight normal
  font-display fallback 