.specialnominations__category
  padding 5px 0
  font-family titleFont
.specialnominations__category::before
    content "\2014"
    color #3071D1
    margin-right 15px
    margin-left -30px
    font-family addFont  