.specialnominations__title
  margin-top 280px
  margin-left 500px
  @media only screen and (max-width: md)
    margin-top 100px
    margin-left 50vw
  @media only screen and (max-width: sm)
    margin-left calc(40vw - 15px)
    margin-top 50px
  @media only screen and (max-width: xs)
    padding-top 60px
    margin-left 0
    line-height 1