.purpose__title
  font-size subtitleSize
  font-family titleFont
  color rgba(255, 255, 255, 0.5)
  padding-bottom 30px
  @media only screen and (max-width: xs)
    transform rotate(-90deg)
    line-height 1
    font-size baseSize
    padding-left 30px
.active
  .purpose__title
    color baseColor