.purpose__title-background
  position absolute
  top 150px
  left -15px
  font-size 200px!important
  @media only screen and (max-width: md)
    left -80px
  @media only screen and (max-width: sm)
    top 100px