.purpose__title-box
  display flex
  justify-content space-between
  border-bottom 1px solid rgba(255, 255, 255, 0.2)
  margin 0 150px
  @media only screen and (max-width: md)
    margin 0 50px
  @media only screen and (max-width: sm)
    margin 0 15px