section.section.about
  picture
    source(srcset='assets/images/about.webp' type='image/webp' loading="lazy")
    img.about__img(src='assets/images/about.png')
  .title__background.about__title-background О премии
  h2.section__title.about__title#about
    | О премии
  .section__content.about__content
    p Russian Sponsorship Awards – первая премия в области спонсорства в России. Цель премии – поощрить работу российских компаний и объединений, которые добились успеха в разных областях спонсорской индустрии, и тем самым задать профессиональную планку спонсорства в нашей стране. 
    p Традиционно, по итогам премии из числа лауреатов будет определен Спонсорский проект года, который будет представлять Россию на главной Европейской Премии по Спонсорству – ESA Excellence Awards. 
    p Профессиональный награды – один из самых мощных и экономически эффективных маркетинговых инструментов. Награждение престижной бизнес-премией поможет компании выгодно выделить себя среди конкурентов, улучшить репутацию и позитивно повлиять на связи с общественностью.
