section.section.contacts
  .container.contacts__container
    .title
      .title__background.contacts__title-background Контакты
      h2.section__title.contacts__title#contacts
        | Контакты
    .section__content.contacts__content
      .contacts__one
        picture
          source(srcset='assets/images/contacts-01.webp' type='image/webp')
          img.contacts__one-img(src='assets/images/contacts-01.png' loading="lazy")
        .contacts__one-name Артем Милаков
        .contacts__one-position Продюсер премии
        div 
          p milakov@strategiumgroup.ru
          p +7 (903) 824 04 65
          p +7 (499) 686 15 96
      .contacts__one
        picture
          source(srcset='assets/images/contacts-02.webp' type='image/webp')
          img.contacts__one-img(src='assets/images/contacts-02.png' loading="lazy")
        .contacts__one-name Дмитрий Малков
        .contacts__one-position Продюсер Форума
        div
          p +7 (499) 686 15 96
      .contacts__one
        picture
          source(srcset='assets/images/contacts-03.webp' type='image/webp')
          img.contacts__one-img(src='assets/images/contacts-03.png' loading="lazy")
        .contacts__one-name Николай Сорокин
        .contacts__one-position Координатор Премии
        div
          p sorokin@strategiumgroup.ru
          p +7 (965) 726 98 17
          p +7 (499) 686 15 96
    .contacts__button-box
      .contacts__button.activation-callback Стать партнером