section.section.jury
  .title__background.jury__title-background 
    | Жюри Russian Sponsorship Awards 2018
  picture
    source(srcset='assets/images/jury.webp' type='image/webp')
    img.jury__img(src='assets/images/jury.png' loading="lazy")
  h2.section__title.jury__title#jury
    | Жюри
    br 
    | Russian Sponsorship Awards
    br 
    | 2018
  .container
    .section__content.jury__content
      .jury__one
        picture
          source(srcset='assets/images/jury-one.webp' type='image/webp')
          img.jury__one-img(src='assets/images/jury-one.png' loading="lazy")
        .jury__one-name Имяимяимяимя Фамилия
        .jury__one-position Должность
      .jury__one
        picture
          source(srcset='assets/images/jury-one.webp' type='image/webp')
          img.jury__one-img(src='assets/images/jury-one.png' loading="lazy")
        .jury__one-name Имяимяимяимя Фамилия
        .jury__one-position Должность
      .jury__one
        picture
          source(srcset='assets/images/jury-one.webp' type='image/webp')
          img.jury__one-img(src='assets/images/jury-one.png' loading="lazy")
        .jury__one-name Имяимяимяимя Фамилия
        .jury__one-position Должность
      .jury__one
        picture
          source(srcset='assets/images/jury-one.webp' type='image/webp')
          img.jury__one-img(src='assets/images/jury-one.png' loading="lazy")
        .jury__one-name Имя Фамилия
        .jury__one-position Должностьдолжн сотьдолжность сотьдолжность
      .jury__one
        picture
          source(srcset='assets/images/jury-one.webp' type='image/webp')
          img.jury__one-img(src='assets/images/jury-one.png' loading="lazy")
        .jury__one-name Имя Фамилия
        .jury__one-position Должность
      .jury__one
        picture
          source(srcset='assets/images/jury-one.webp' type='image/webp')
          img.jury__one-img(src='assets/images/jury-one.png' loading="lazy")
        .jury__one-name Имя Фамилия
        .jury__one-position Должность
      .jury__one
        picture
          source(srcset='assets/images/jury-one.webp' type='image/webp')
          img.jury__one-img(src='assets/images/jury-one.png' loading="lazy")
        .jury__one-name Имя Фамилия
        .jury__one-position Должность
      .jury__one
        picture
          source(srcset='assets/images/jury-one.webp' type='image/webp')
          img.jury__one-img(src='assets/images/jury-one.png' loading="lazy")
        .jury__one-name Имя Фамилия
        .jury__one-position Должность должнсотьдолжность
      .jury__one.hidden
        picture
          source(srcset='assets/images/jury-one.webp' type='image/webp')
          img.jury__one-img(src='assets/images/jury-one.png' loading="lazy")
        .jury__one-name Имя Фамилия
        .jury__one-position Должность
      .jury__one.hidden
        picture
          source(srcset='assets/images/jury-one.webp' type='image/webp')
          img.jury__one-img(src='assets/images/jury-one.png' loading="lazy")
        .jury__one-name Имя Фамилия
        .jury__one-position Должность
    .jury__button-box
      .jury__button#jury-all Раздел для голосования