section.section.nominations
  picture
    source(srcset='assets/images/nominations.webp' type='image/webp')
    img.nominations__img(src='assets/images/nominations.png' loading="lazy")
  .title
    .title__background.nominations__title-background Номинации премии
  .container
    h2.section__title.nominations__title#nominations
      | Номинации премии
    .section__content.nominations__content
      p.nominations__category Спонсорство культурных проектов (выставки, фестивали, спектакли и т.п.) 
      p.nominations__category Спонсорство в сфере спорта
      p Подкатегории:
      p.nominations__subcategory Спонсорство в сфере спорта (бюджет до 1 млн руб)* 
      p.nominations__subcategory Спонсорство в сфере спорта (бюджет от 1 млн руб до 3 млн руб)* 
      p.nominations__subcategory Спонсорство в сфере спорта (бюджет от 3 млн руб)* 
      p.nominations__category Спонсорство концертов, музыкальных фестивалей и городских событий
      p Подкатегории:
      p.nominations__subcategory Спонсорство концертов, музыкальных фестивалей и городских событий (бюджет до 500 тыс. руб)* 
      p.nominations__subcategory Спонсорство концертов, музыкальных фестивалей и городских событий  (бюджет от 500 тыс. руб)* 
      p.nominations__category Спонсорство региональных проектов и событий 
      p.nominations__category Лучшее использование digital и социальных медиа в спонсорстве 
      p.nominations__category Лучшее креативное решение в интеграции 
      p.nominations__category Спонсорство социальных проектов 
      p.nominations__category Лучший малобюджетный проект (бюджет до 100 тыс.руб)* 
      p.nominations__category Лучшая спонсорская активация
      p Подкатегории:
      p.nominations__subcategory Лучшая спонсорская активация (бюджет до 1 млн руб)* 
      p.nominations__subcategory Лучшая спонсорская активация (бюджет от 1 млн руб до 3 млн руб)* 
      p.nominations__subcategory Лучшая спонсорская активация (бюджет от 3 млн руб)*