section.section.organizer
  picture
    source(srcset='assets/images/organizer.webp' type='image/webp')
    img.organizer__picture(src='assets/images/organizer.png' loading="lazy")
  .organizer__box
    .title
      .title__background.organizer__title-background Организатор
      h3.section__title.organizer__title#organizer
        | Организатор
        br
        | премии
      h2.section__title.organizer__title-name#organizer
        | Strategium
        br
        | Conference
    .section__content.organizer__content
      .organizer__events
        h2.organizer__title-events Наши мероприятия
        .organizer__events-box
          .organizer__events-column
            p
              a(href="#") Russian Sponsorship Forum
            p 
              a(href="#") MarSpo Moscow Stadium
            p 
              a(href="#") Forum Russian Sponsorship
            p 
              a(href="#") Awards  MarSpo Awards
            p 
              a(href="#") Moscow Stadium & Arena 
          .organizer__events-column
            p 
              a(href="#") Awards OFFSTAGE Sport
            p 
              a(href="#") Innovations  Russian Motorsport
            p 
              a(href="#") Forum OFFSTAGE AWARDS
            p 
              a(href="#") Sport Innovations Awards
            p 
              a(href="#") Moscow Ticketing Forum
    picture
      source(srcset='assets/images/organizer-01.webp' type='image/webp')
      img.organizer__img(src='assets/images/organizer-01.png' loading="lazy")