section.section.partnership
  picture
    source(srcset='assets/images/partnership.webp' type='image/webp')
    img.partnership__img(src='assets/images/partnership.png' loading="lazy")
  .title
    .title__background.partnership__title-background Партнерство
    h2.section__title.partnership__title#partnership
      | Узнайте
      br
      |о возможностях партнерства
      br 
      |и спонсорства
  .section__content.partnership__content
    p Отправьте заявку, и мы вышлем Вам подробную информацию
    .partnership__button.activation-callback Стать партнером