section.section.partners
  .container.partners__container
    .title
      .title__background.partners__title-background Партнеры
      h2.section__title.partners__title#partners
        | Партнеры мероприятия
    .section__content.partners__content
      a.partners__img(href="#", target="_blank")
        picture
          source(srcset='assets/images/organizer-01.webp' type='image/webp')
          img(src='assets/images/organizer-01.png' loading="lazy")
      a.partners__img(href="#", target="_blank")
        picture
          source(srcset='assets/images/organizer-01.webp' type='image/webp')
          img(src='assets/images/organizer-01.png' loading="lazy")
      a.partners__img(href="#", target="_blank")
        picture
          source(srcset='assets/images/organizer-01.webp' type='image/webp')
          img(src='assets/images/organizer-01.png' loading="lazy")
      a.partners__img(href="#", target="_blank")
        picture
          source(srcset='assets/images/organizer-01.webp' type='image/webp')
          img(src='assets/images/organizer-01.png' loading="lazy")
      a.partners__img(href="#", target="_blank")
        picture
          source(srcset='assets/images/organizer-01.webp' type='image/webp')
          img(src='assets/images/organizer-01.png' loading="lazy")