section.section.purpose
  .title
    .title__background.purpose__title-background o1
  .container
    .purpose__title-box
      .purpose__title-one.active(active="01")
        .purpose__title-number 01
        h2.purpose__title#advantage
          | Что даёт участие
        .purpose__title-line
      .purpose__title-one(active="02")
        .purpose__title-number 02
        h2.purpose__title#purpose
          | Задачи премии
        .purpose__title-line
      .purpose__title-one(active="03")
        .purpose__title-number 03
        h2.purpose__title#guest
          | Кто приглашен
        .purpose__title-line
    .section__content.purpose__content(number="01")
      p Вы громко заявите о себе на рынке спонсорства;
      p Вы получите возможность стать участником премии ESA Excellence Awards, которую организует
      p Европейская Спонсорская ассоциация;
      p Вы привлечете внимание коллег и получите важные контакты для развития Вашего бизнеса;
      p Вы сможете познакомиться с кейсами коллег, применяющих спонсорство в своей практике;
      p Вы поощрите свою команду: Ваш коллектив будет понимать, что делает важную работу, а это позитивно повлияет на их работоспособность;
      p Вы получите объективную внешнюю оценку Вашей стратегии спонсорства.
      a(href="#" download)
        .purpose__button Скачать положение о премии
    .section__content.purpose__content.hidden(number="02")
      p Определение актуального состояния рынка спонсорства в России 
      p Выявление наиболее ярких и эффективно реализованных проектов в различных областях спонсорства 
      p Профессиональная экспертиза и возможности для обмена опытом 
      p Поощрение компаний, которые добились успеха в спонсорской индустрии 
      p Стимулирование развития рынка спонсорства в нашей стране
      a(href="#" download)
        .purpose__button Скачать положение о премии
    .section__content.purpose__content.hidden(number="03")
      p Представители компаний-спонсоров 
      p Коммуникационные, маркетинговые, креативные и PR-агентства 
      p Event-агентства 
      p Организаторы B2B-мероприятий 
      p IT-компании и digital-агентства 
      p Спортивные команды, клубы, федерации, спортивные арены 
      p Организаторы спортивных мероприятий и соревнований 
      p Авторы фильмов и организаторы кинофестивалей 
      p Музыкальные коллективы и организаторы концертов и фестивалей, концертные площадки 
      p Культурно-развлекательные объекты (парки культуры, цирки, парки развлечений и т.д.) 
      p Музеи, выставочные залы
      a(href="#" download)
        .purpose__button Скачать положение о премии