section.section.winners
  .container.winners__container
    .title
      .title__background.winners__title-background Победители
      picture
        source(srcset='assets/images/winners.webp' type='image/webp')
        img.winners__img(src='assets/images/winners.png' loading="lazy")
      h2.section__title.winners__title#specialwinners
        | Победители спецноминаций 2018
    .section__content.winners__content
      .winners__nomination Номинация
      .winners__box#specialwinners__box
        .winners__arrow
          .winners__arrow-one#specialwinners__arrow-left
            .winners__arrow-left &lt;
        .winners__one(specialwinner="1")
          h3.section__title Спонсорство культурных проектов
          .winners__position
            .winners__position-one
              picture
                source(srcset='assets/images/winners-02.webp' type='image/webp')
                img.winners__position-img(src='assets/images/winners-02.png' loading="lazy")
              .winners__nomination Gold winner
              h4.winners__position-title Компания
              p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
        .winners__one.hidden(specialwinner="2")
          h3.section__title Номинация 2
          .winners__position
            .winners__position-one
              picture
                source(srcset='assets/images/winners-02.webp' type='image/webp')
                img.winners__position-img(src='assets/images/winners-02.png' loading="lazy")
              .winners__nomination Gold winner
              h4.winners__position-title Компания2
              p Описание 2 
        .winners__one.hidden(specialwinner="3")
          h3.section__title Номинация 3
          .winners__position
            .winners__position-one
              picture
                source(srcset='assets/images/winners-02.webp' type='image/webp')
                img.winners__position-img(src='assets/images/winners-02.png' loading="lazy")
              .winners__nomination Gold winner
              h4.winners__position-title Компания3
              p Описание 3
        .winners__arrow
          .winners__arrow-one#specialwinners__arrow-right
            .winners__arrow-right &gt;