section.section.specialnominations
  picture
    source(srcset='assets/images/specialnominations.webp' type='image/webp')
    img.specialnominations__img(src='assets/images/specialnominations.png' loading="lazy")
  .title
    .title__background.specialnominations__title-background Специальные номинации
  .container
    h2.section__title.specialnominations__title#specialnominations
      | Специальные номинации
    .section__content.specialnominations__content
      p.specialnominations__category Персона года
      p.specialnominations__category Агентство Года
      p.specialnominations__category Бренд Года
      p.specialnominations__category Лучший правообладатель 
      p.specialnominations__category Гран-при - Лучший спонсорский проект
      .specialnominations__button.activation-callback Подать заявку