section.section.stages
  .title
    .title__background.stages__title-background Этапы&nbsp;премии
    h2.section__title.stages__title#stages
      | Этапы премии
  .container
    .section__content.stages__content
      .stages__one
        .stages__number.stages__number_type_01 01
        .stages__date 01.09.2019 - 03.11.2019 
        .stages__description Подача заявок в электронном виде на сайте Премии
      .stages__one
        .stages__number.stages__number_type_02 02
        .stages__date 04.11.2019 - 17.11.2019 
        .stages__description Этап голосования экспертным жюри Премии
      .stages__one
        .stages__number.stages__number_type_03 03
        .stages__date 18.11.2019 
        .stages__description Объявление финалистов, публикация шорт-листа Премии
      .stages__one
        .stages__number.stages__number_type_04 04
        .stages__date 27.11.2019
        .stages__description Очная, открытая защита проектов, церемония награждения