section.section.venue
  .venue__content
    .venue__background
    picture
      source(srcset='assets/images/venue.webp' type='image/webp')
      img.venue__img(src='assets/images/venue.png' loading="lazy")
    .title__background.venue__title-background Место проведения
    h2.section__title.venue__title#venue
      | Место проведения
    .title__background.venue__title-background_algin_left
      | Конгресс-центр
    .venue__venue
      .venue__venue-name
        p КОНГРЕСС-ЦЕНТР 
        p ТЕХНОПОЛИС
      p г. Москва, 
      p Волгоградский проспект, д. 42 корп. 5