.winners__img
  width 350px
  position absolute
  transform translateX(-50%)
  left 50%
  top -80px
  @media only screen and (max-width: 1500px)
    top -55px
    width 250px
  @media only screen and (max-width: xs)
    width 250px
    top 140px