#specialwinners__box
  .winners__position-one
    width 100%
.winners__position-one
  width 25%
  padding 15px
  @media only screen and (max-width: md)
    width 30%
  @media only screen and (max-width: sm)
    width 100%