.winners__position-img
  width 150px
  @media only screen and (max-width: 1500px)
    width 100px
.winners__position-img_size_min
  width 100px
  margin-top 40px
  @media only screen and (max-width: 1500px)
    width 50px
  @media only screen and (max-width: sm)
    margin-top 0