.winners__nomination
  text-align center
  color: rgba(255, 255, 255, 0.5)
  font-size 30px
  font-family titleFont
  padding-top 20px
  @media only screen and (max-width: 1500px)
    padding-top 10px
    font-size 24px
  