.header__main-background
  position absolute
  top 150px
  bottom 0
  right 0
  left 0
  background: rgba(26, 9, 15, 0.7);
  filter: blur(250px);
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
   background: radial-gradient(rgba(26, 9, 15, 0.7), rgba(255, 255, 255, 0))
   box-shadow 0 0 200px rgba(26, 9, 15, 0.3)
  z-index 1