.stages__title
  position absolute
  top 20px
  left calc(100vw - 1150px)
  @media only screen and (max-width: lg)
    left calc(100vw - 900px)
  @media only screen and (max-width: md)
    left 120px
  @media only screen and (max-width: sm)
    left 30px
    top 0
  @media only screen and (max-width: xs)
    top -15px
    font-size 32px