.stages__number
  width 100px
  font-size 30px
  font-family titleFont
  @media only screen and (max-width: sm)
    font-size 22px
    width 50px
.stages__number_type_01
  color: #E518BE;
.stages__number_type_02
  color: #A353D4;
.stages__number_type_03
  color: #658AEA;
.stages__number_type_04
  color: #30BAFC;