.footer__nav
  display flex
  flex-direction column
  width 20%
  a
    padding 0 0 10px 15px
  @media only screen and (max-width: md)
    width 35%
  @media only screen and (max-width: sm)
    width 50%
  @media only screen and (max-width: xs)
    width 100%