.footer__call
  width 30%
  display flex
  flex-direction column
  align-items flex-end
  @media only screen and (max-width: sm)
    width 100%
    text-align center
    align-items center
    margin-top 50px