.nominations__title
  padding-top 140px
  padding-left 30px
  @media only screen and (max-width: sm)
    padding-top 70px
  @media only screen and (max-width: xs)
    padding-top 20px
    line-height 1