.nominations__img
  position absolute
  top -200px
  right 0
  width 400px
  z-index 2
  @media only screen and (max-width: md)
    margin-right -200px
  @media only screen and (max-width: sm)
    display none