.jury__title-background
  position absolute
  top 90px
  left 0
  line-height 1
  min-width 1000
  right calc(100vw - 1500px)
  @media only screen and (max-width: md)
    font-size 90px!important
    top 180px
  