.venue__title-background
  position absolute
  top -10px
  left 0
  width 50%
  overflow hidden
  line-height 1
  @media only screen and (max-width: sm)
    width 100%
    top 0
.venue__title-background_algin_left
  position absolute
  bottom 0
  left calc(50vw + 250px)
  overflow hidden
  line-height 1
  width 100%
  @media only screen and (max-width: md)
    left calc(50vw + 160px)
  @media only screen and (max-width: sm)
    display none